
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  padding-left: 5%;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5%;
}

/* List */
ul {
  counter-reset: index;  
  padding: 0;
  width: 40%;
}

/* List element */
li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  box-sizing: border-box;
}


/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  font-variant-numeric: tabular-nums;
  background-image: linear-gradient(to bottom, rgb(224, 146, 189), rgb(125, 21, 146));
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

li:hover{
  background-color: #52565e;
}

.button {
  background-color: #555555;
  border: none;
  width: 200px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-clicked {
  background-color: #8b8b8b;
}

.container{
  display: inline-block;
  margin-top: 30px;
}

.listItem {
  margin-left: 20px;
  padding: 20px 0;
}
.listItem2{
  margin-left: auto;
}